@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100vw;
  height: auto;
  box-shadow: 0px 7px 10px 0px #0000001A;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar */

.container {
  width: 100%;
  max-width: 1112px;
  height: 51px;
  margin: 35px auto 0;
  padding: 0 20px;
}

.navbar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  position: relative;
  z-index: 10;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: gray;
}

.nav-link-about {
  width: 156px;
  height: 51px;
  font-family: 'Poppins', sans-serif;
  font-size: 34.11px;
  font-weight: 600;
  line-height: 51.17px;
  text-align: center;
  color: #D10B0B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-links a {
  display: flex;
  align-items: center;
}

/* About the Journey Section */

.about-the-journey-container {
  width: 100%;
  height: auto;
  top: 120px;
  gap: 0px;
  opacity: 1;
  padding: 0 20px;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.image-container2 {
  position: absolute;
  top: 400.5px;
  right: 1rem;
  transform: translateY(-50%) scale(0.8);
  z-index: 2;
  width: 603px;
  height: 734.7px;
}

.image-container img,
.image-container2 img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  color: #FFFFFF;
  padding: 20px;
}

.header h1,
.header h2 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: #FFFFFF;
  background: transparent;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
}

.header h1 {
  font-size: 145px;
  font-weight: 800;
  line-height: 139.31px;
  letter-spacing: 0.1em;
}

.header h2 {
  font-size: 155px;
  font-weight: 800;
  line-height: 175px;
  letter-spacing: 4px;
  margin: 0;
  position: relative;
}

/* Vidharbha */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.h1-container {
  width: 100%;
  max-width: 798px;
  height: 23px;
  position: relative;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0px;
  opacity: 1;
  padding: 0 20px;
}

.h1-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30.8px;
  font-weight: 700;
  line-height: 22.63px;
  letter-spacing: 4px;
  text-align: center;
  color: #D10B0B;
  white-space: nowrap;
  margin: 0;
}

.h1-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  font-weight: 800;
  line-height: 99px;
  text-align: center;
  color: #2E2754;
  white-space: nowrap;
  margin-top: 20px;
}

.p-container {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 20px;
}

.p-container p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: #38465F;
  margin-top: -50px;
  padding: 0;
}

.img-container img {
  width: 100%;
  max-width: 599px;
  height: auto;
  position: absolute;
  top: 1600px;
  right: 710px;
  gap: 0px;
  opacity: 1;
  transform: scale(0.8);
  z-index: 1;
}

.list-container {
  position: absolute;
  width: 100%;
  max-width: 534px;
  height: auto;
  top: 1640px;
  right: 100px;
  color: #38465F;
  padding: 20px;
  gap: 0px;
  opacity: 1;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 1;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  padding: 10px;
  color: #38465F;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.list-container li::before {
  content: "\2605";
  font-size: 14px;
  color: #38465F;
  margin-right: 10px;
}

.list-container li:last-child {
  margin-bottom: 0;
}

/* Fact */

.heading-containerf {
  width: 100%;
  max-width: 499px;
  height: 163px;
  position: absolute;
  top: 2400px;
  left: 216px;
  gap: 0px;
  opacity: 1;
  text-align: center;
  background-color: #f9f9f9;
  padding: 0 20px;
}

.heading-containerf h1 {
  width: 100%;
  max-width: 418px;
  height: 23px;
  gap: 0px;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 22.63px;
  letter-spacing: 4px;
  text-align: left;
  color: #D10B0B;
  padding: 5px;
  margin: 0;
  white-space: nowrap;
}

.heading-containerf h2 {
  width: 100%;
  max-width: 317px;
  height: 140px;
  gap: 0px;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 99px;
  text-align: left;
  color: #D10B0B;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
}

/* Responsive Design */

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link-about {
    font-size: 24px;
    height: auto;
  }

  .header h1 {
    font-size: 80px;
  }

  .header h2 {
    font-size: 100px;
  }

  .image-container2 {
    top: 300px;
    width: 80%;
  }

  .h1-container h1,
  .h1-container h2 {
    font-size: 20px;
  }

  .p-container p {
    font-size: 18px;
  }

  .img-container img {
    position: static;
    width: 100%;
    transform: none;
    margin: 20px 0;
  }

  .list-container {
    position: static;
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  .heading-containerf h1 {
    font-size: 20px;
  }

  .heading-containerf h2 {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .header h1 {
    font-size: 60px;
  }

  .header h2 {
    font-size: 80px;
  }

  .image-container2 {
    top: 200px;
  }

  .h1-container h1,
  .h1-container h2 {
    font-size: 18px;
  }

  .p-container p {
    font-size: 16px;
  }

  .heading-containerf h1 {
    font-size: 18px;
  }

  .heading-containerf h2 {
    font-size: 50px;
  }
}

/*Footer*/
.full-screen-image-container-fluid {
  position: relative; 
  width: 100vw;
  height: 100%;
 
}